.header {
  background-image: url("/images/background2.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}

h1,
h2 {
  font-family: 'Fugaz One', cursive;
  color: #ffffff;
  opacity: 0.7;
}

h1 {
  font-size: 6rem;
  padding: 8rem 0;
}

h2 {
  font-size: 2rem;
}

.scores {
  padding-bottom: 8rem;
}
